* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  z-index: 999; /* Ensure it's above other elements */
  position: fixed; /* Make it fixed at the top */
  top: 0; /* Stick it to the top of the viewport */
  left: 0; /* Align to the left edge */
  right: 0;
  display: flex;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  justify-content: space-between;
  background-color: #001f54;
}

.header .social-links {
  display: flex;
  gap: 1rem;
}
@media screen and( max-width:740px) {
  .header {
  }
}
