.forgetpasscontainer {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 4rem;
  margin-top: 13rem;
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

form {
  height: 15rem !important;
  padding: 1rem;
  width: 100%;
}

form input {
  width: 100%!important;
  outline: none;
  border: 1px solid grey;
}
.image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}
.image-area img {
  width: 100%;
  height: 15rem !important;
}
.sendotp {
  background-color: rgb(23 37 84);
  border-radius: 0px;
  margin: 0px;
}

@media screen and (max-width: 740px) {
  .forgetpasscontainer {
    height: 10rem;
    margin-inline: 0rem;
  }
  .sendotp {
    padding: 10px;
  }
}
